hr {
    width: 1000;
    border-width: 5px;
}

h1 {
    font-weight: bolder;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(184, 102, 72);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#board {
    width: 400px;
    height: 400px;
    background-color: #cdc1b5;
    border: 6px solid #bbada0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 90px;
    height: 90px;
    border: 5px solid #bbada0;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a2 {
    background-color: #eee1d4;
    color: #717273;
}

.a4 {
    background-color: #d7cdba;
    color: #737171;
}

.a8 {
    background-color: #dba070;
    color: white;
}

.x16{
    background-color: #fc9b7b;
    color: white;
}

.x32{
    background-color: #e67458;
    color: white;
}

.x64{
    background-color: #e05435;
    color: white;
}

.x128{
    background-color: #edb171;
    color: white;
}

.x256{
    background-color: #edaa63;
    color: white;
}

.x512{
    background-color: #edc651;
    color: white;
}

.x1024{
    background-color: #eec744
    color: white;
}

.x2048{
    background-color: #ecc230
    color: white;
}

.x4096 {
    background-color: #fe3d3d
    color: white;
}

.x8192{
    background-color: #ff2020
    color: white;
}